header {
  text-align: center;
}

.App {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color:#F0F0F0;
}

.Texto {
  padding-bottom: 1%;
}

.Form {
  background-color: #FFFFFF;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  border-radius: 1%;
}

.Enviar {
  display: flex;
  align-items: center;
  justify-content: center;
}